// General Classes

.container {
    width: 100%;
    max-width: calc($containerWidth + $containerPadding * 2);
    padding: 0 $containerPadding;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    &__link {
        display: inline-block;
    }

    &__img {
        width: 147px;
    }
}

.drop-down {

    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    background: $white;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: .5s;

    &__link-list {
        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-size: 16px;
        font-weight: $medium;
        color: $black;
    }
}

@mixin btn($border, $background, $color) {
    height: 67px;
    min-width: 60px;
    padding: 0 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 225px;
    border: 1px solid $border;
    background: $background;
    color: $color;
    font-weight: $medium;
    font-size: 20px;
    line-height: 170%;
}

.none {
    display: none;
    position: absolute;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.input {

    display: flex;
    align-items: stretch;
    gap: 16px;
    background: rgba(256, 256, 256, 0.3);
    border: 2px solid rgba(57, 108, 3, 0.3);
    border-radius: 120px;
    padding-left: 9px;
    transition: .5s;

    &__icon {
        @include btn($secondaryColor, $secondaryColor, $white);
        min-width: 49px;
        height: 49px;
        padding: 0;
        align-self: center;
    }

    &__icon-img {
        width: 30px;
    }

    &__input {
        width: 413px;
        font-weight: $medium;
        font-size: 22px;
        line-height: 170%;
        background: none;
        color: $black;

        &::placeholder {
            color: $disabled;
        }
    }

    &__btn {
        @include btn($primaryColor, $primaryColor, $white);
        min-width: 210px;
        gap: 8px;
        transition: .5s;

        &::before {
            content: "";
            display: inline-block;
            height: 24px;
            width: 24px;
            background-image: url("../images/search.svg");
            background-size: 100%;
            background-repeat: no-repeat;
        }

        &:hover {
            background: $darkBlack;
            border-color: $darkBlack;
        }
    }
}

.title {
    font-family: $secondaryFont;
    font-weight: $bold;
    font-size: 65px;
    line-height: 130%;
    color: $primaryColor;
    margin-bottom: 27px;
}

.title-mini {
    font-weight: $semibold;
    font-size: 40px;
    line-height: 160%;
}

.subtitle {
    font-size: 18px;
    line-height: 160%;
}

.burger-menu {

    display: none;

    &__hidden-section-wrap {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 101;
    }

    &__btn {
        background: none;
    }

    &__btn-img {
        width: 50px;
    }

    &__hidden-section {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 101;
        transition: .5s;

        &-wrap {
            width: 50%;
            height: 100%;
            background: $white;
            padding: 30px;
        }
    }

    &__link-list > *:not(:last-child) {
        margin-bottom: 20px;
    }

    &__link-item {
        position: relative;
    }

    &__link {
        color: $black;
        font-size: 30px;
        position: relative;

        &--drop-down::before {
            content: "";
            position: absolute;
            left: calc(100% + 5px);
            top: 50%;
            transform: translate(0, -50%);
            width: 13px;
            height: 8px;
            background-image: url("../images/arrow-down.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            transition: .5s;
        }

        &--active::before {
            transform: rotate(180deg);
            top: 40%;
        }

        &:not(&--drop-down, &--active)::before {
            content: "";
            width: 0;
            height: 2px;
            background: $black;
            position: absolute;
            top: 100%;
            left: 0;
            transform: rotate(-50deg);
            transition: .5s;
        }

        &:not(&--drop-down, &--active)::after {
            content: "";
            width: 0;
            height: 2px;
            background: $black;
            position: absolute;
            top: 100%;
            right: 0;
            transform: rotate(-50deg);
            transition: .5s;
        }

        &:not(&--drop-down, &--active):hover::before,
        &:not(&--drop-down, &--active):hover::after {
            transform: rotate(0deg);
            width: 50%;
        }
    }

    &__login {
        gap: 23px;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    &__login-btn {
        @include btn($primaryColor, $primaryColor, $white);
        height: 58px;
        min-width: 154px;
        transition: .5s;

        &:hover {
            background: $darkBlack;
            border-color: $darkBlack;
        }
    }

    &__cart-btn {
        @include btn($primaryColor, $primaryColor, $white);
        height: 60px;
        transition: .5s;

        &:hover {
            background: $darkBlack;
            border-color: $darkBlack;
        }
    }

    &__cart-icon {
        width: 28px;
    }

    &__skip-btn {

        background: none;
        position: absolute;
        top: 30px;
        right: 30px;

        &-img {
            width: 40px;
        }
    }

    &__drop-down {
        top: 100%;
        left: 0;
    }

}
