// General Classes

.container {
    width: 100%;
    max-width: calc($containerWidth + $containerPadding * 2);
    padding: 0 $containerPadding;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    &__link {
        display: inline-block;
    }

    &__img {
        width: 147px;
    }
}

.drop-down {

    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    background: $white;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;

    &__link-list {
        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-size: 16px;
        font-weight: $medium;
        color: $black;
    }
}

@mixin btn($border, $background, $color) {
    height: 67px;
    min-width: 60px;
    padding: 0 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 225px;
    border: 1px solid $border;
    background: $background;
    color: $color;
    font-weight: $medium;
    font-size: 20px;
    line-height: 170%;
}

.none {
    display: none;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.input {

    display: flex;
    align-items: stretch;
    gap: 16px;
    background: rgba(256, 256, 256, 0.3);
    border: 2px solid rgba(57, 108, 3, 0.3);
    border-radius: 120px;
    padding-left: 9px;

    &__icon {
        @include btn($secondaryColor, $secondaryColor, $white);
        min-width: 49px;
        height: 49px;
        padding: 0;
        align-self: center;
    }

    &__icon-img {
        width: 30px;
    }

    &__input {
        width: 413px;
        font-weight: $medium;
        font-size: 22px;
        line-height: 170%;
        background: none;
        color: $black;

        &::placeholder {
            color: $disabled;
        }
    }

    &__btn {
        @include btn($primaryColor, $primaryColor, $white);
        min-width: 210px;
        gap: 8px;

        &::before {
            content: "";
            display: inline-block;
            height: 24px;
            width: 24px;
            background-image: url("../images/search.svg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}

.title {
    font-family: $secondaryFont;
    font-weight: $bold;
    font-size: 65px;
    line-height: 130%;
    color: $primaryColor;
    margin-bottom: 27px;
}