// Explore Styles

.explore {

    min-height: 600px;
    width: 100%;
    justify-content: flex-start;
    background: url("../images/explore-background.png") right center / 751px 500px no-repeat;
    background-color: rgba(255, 139, 0, 0.05);

    &__title {
        max-width: 527px;
        margin-bottom: 10px;
        font-family: $secondaryFont;
        font-weight: $bold;
        font-size: 50px;
        line-height: 130%;
        color: $primaryColor;
    }

    &__subtitle {
        max-width: 567px;
        margin-bottom: 14px;
    }

    &__btn {
        @include btn($primaryColor, $primaryColor, $white);
        min-width: 231px;
        gap: 15px;
        transition: .5s;

        &:hover {
            background: $darkBlack;
            border-color: $darkBlack;
        }

        &::after {
            content: "";
            display: inline-block;
            height: 10px;
            width: 16px;
            background-image: url("../images/arrow-right.svg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}
