@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #3F3F3F;
}

.wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  background: white;
}

svg, img, video {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1460px;
  padding: 0 30px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  display: inline-block;
}
.logo__img {
  width: 147px;
}

.drop-down {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  background: white;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.drop-down__link-list > *:not(:last-child) {
  margin-bottom: 10px;
}
.drop-down__link {
  font-size: 16px;
  font-weight: 500;
  color: #3F3F3F;
}

.none {
  display: none;
  position: absolute;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 16px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(57, 108, 3, 0.3);
  border-radius: 120px;
  padding-left: 9px;
}
.input__icon {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #FF8B00;
  background: #FF8B00;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  min-width: 49px;
  height: 49px;
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.input__icon-img {
  width: 30px;
}
.input__input {
  width: 413px;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  background: none;
  color: #3F3F3F;
}
.input__input::-webkit-input-placeholder {
  color: #C7C7C7;
}
.input__input::-moz-placeholder {
  color: #C7C7C7;
}
.input__input:-ms-input-placeholder {
  color: #C7C7C7;
}
.input__input::-ms-input-placeholder {
  color: #C7C7C7;
}
.input__input::placeholder {
  color: #C7C7C7;
}
.input__btn {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #396C03;
  background: #396C03;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  min-width: 210px;
  gap: 8px;
}
.input__btn::before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url("../images/search.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  font-family: "Merienda";
  font-weight: 700;
  font-size: 65px;
  line-height: 130%;
  color: #396C03;
  margin-bottom: 27px;
}

.title-mini {
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
}

.subtitle {
  font-size: 18px;
  line-height: 160%;
}

.header {
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 0;
  border-bottom: 1px solid rgba(63, 63, 63, 0.2);
}
.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  margin-right: 101px;
}
.header__link-item {
  position: relative;
}
.header__link-list > *:not(:last-child) {
  margin-right: 70px;
}
.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #3F3F3F;
  position: relative;
}
.header__link--drop-down::before {
  content: "";
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 13px;
  height: 8px;
  background-image: url("../images/arrow-down.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.header__login {
  gap: 23px;
}
.header__login-btn {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #396C03;
  background: #396C03;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  height: 58px;
  min-width: 154px;
}
.header__cart-btn {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #396C03;
  background: #396C03;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  height: 60px;
}
.header__cart-icon {
  width: 28px;
}

.home {
  min-height: 856px;
  width: 100%;
  padding-top: 154px;
  background: url("../images/home-bg-item.png") 0 42px/288px no-repeat, url("../images/home-bg-item.png") right 112px/288px no-repeat;
  background-color: rgba(107, 145, 66, 0.1);
}
.home__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home__title {
  max-width: 681px;
}
.home__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #676767;
  margin-bottom: 27px;
}
.home__img {
  width: 535px;
}

.explore {
  min-height: 600px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../images/explore-background.png") right center/751px 500px no-repeat;
  background-color: rgba(255, 139, 0, 0.05);
}
.explore__title {
  max-width: 527px;
  margin-bottom: 10px;
  font-family: "Merienda";
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #396C03;
}
.explore__subtitle {
  max-width: 567px;
  margin-bottom: 14px;
}
.explore__btn {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #396C03;
  background: #396C03;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  min-width: 231px;
  gap: 15px;
}
.explore__btn::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 16px;
  background-image: url("../images/arrow-right.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.achivements {
  width: 100%;
  padding: 105px 0;
}
.achivements__items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achivement {
  min-height: 388px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  padding: 60px 47px 38px 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.achivement--active {
  background: rgba(57, 108, 3, 0.05);
  border-radius: 15px;
}
.achivement__icon {
  width: 72px;
  margin-bottom: 22px;
}
.achivement__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 7px;
  max-width: 295px;
}
.achivement__subtitle {
  font-size: 18px;
  line-height: 160%;
  max-width: 295px;
}

.vacancies {
  height: 827px;
  width: 100%;
}
.vacancies__container {
  height: 100%;
}
.vacancies__content {
  height: 100%;
  width: 100%;
  background-image: url("../images/vacancies-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 50px;
  border-radius: 50px;
}
.vacancies__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: white;
  max-width: 629px;
  margin-bottom: 19px;
}
.vacancies__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #EDEDED;
  max-width: 534px;
  margin-bottom: 15px;
}
.vacancies__btn {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #FF8B00;
  background: #FF8B00;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  min-width: 276px;
  gap: 15px;
}
.vacancies__btn::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 16px;
  background-image: url("../images/arrow-right.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.questions {
  width: 100%;
  padding: 105px 0;
}
.questions__header {
  margin-bottom: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.questions__title {
  margin-bottom: 32px;
}
.questions__categories {
  gap: 17px;
}
.questions__btn {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #396C03;
  background: none;
  color: #396C03;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  min-width: 258px;
}
.questions__btn--active {
  height: 67px;
  min-width: 60px;
  padding: 0 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 225px;
  border: 1px solid #396C03;
  background: #396C03;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  min-width: 208px;
}
.questions__spoilers {
  gap: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.questions__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.question {
  width: 100%;
  padding: 26px 11px 23px 31px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.question__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #000000;
}
.question__btn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgba(51, 51, 51, 0.3);
  background: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question__btn::before {
  content: "";
  display: inline-block;
  height: 13px;
  width: 13px;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.question__btn--active::before {
  height: 1.25px;
  width: 13.75px;
  background-image: url("../images/minus.svg");
}
.question__hidden {
  margin-top: 29px;
}
.question__text {
  font-size: 18px;
  line-height: 160%;
  color: #525252;
}

.app {
  min-height: 550px;
  padding: 38px 0;
  background: rgba(255, 139, 0, 0.1);
}
.app__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.app__title {
  color: #396C03;
  max-width: 474px;
  margin-bottom: 12px;
}
.app__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #676767;
  max-width: 447px;
  margin-bottom: 30px;
}
.app__buttons {
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.app__btn {
  background: #000000;
  min-width: 242px;
  height: 88px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 13px;
}
.app__btn-img {
  width: 195px;
}
.app__img {
  width: 711px;
}

.footer {
  min-height: 427px;
  width: 100%;
  padding: 93px 0 40px 0;
  background: #224300;
}
.footer__logo-img {
  width: 217px;
}
.footer__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 74px;
}
.footer__logo {
  margin-bottom: 10px;
  margin-left: 20px;
}
.footer__text {
  font-size: 18px;
  line-height: 160%;
  color: #DEDEDE;
  max-width: 485px;
}
.footer__right {
  gap: 40px;
}
.footer__link-list > *:not(:last-child) {
  margin-bottom: 13px;
}
.footer__link-item--title {
  margin-bottom: 35px !important;
}
.footer__link-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.footer__link {
  max-width: 210px;
  font-size: 20px;
  line-height: 30px;
  color: #DEDEDE;
}
.footer__bottom {
  width: 100%;
}
.footer__copyright {
  font-size: 16px;
  line-height: 24px;
  color: #DEDEDE;
}